@use './variables.scss' as *;
@use './mixins.scss' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  background-color: $silver-black;
  color: #ffffff;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Bootstrap import (will be imported in main.tsx, but ensure styles are available)
// Bootstrap is imported via React Bootstrap components

// Custom scrollbar
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $silver-black;
}

::-webkit-scrollbar-thumb {
  background: $technical-grey;
  border-radius: 5px;
  
  &:hover {
    background: $fuschia-pink;
  }
}